@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Gloria+Hallelujah&family=Indie+Flower&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

body {
   font-size: 2.4rem;
   font-family: sans-serif;
   color: #5a3e2b;
   font-family: 'Quicksand';
   font-weight: 500;
}

.app {
   width: 100%;
   height: 100vh;
   display: grid;
   grid-template-rows: auto auto 1fr auto;
}

h1 {
   text-align: center;
   background-color: #f4a226;
   font-family: 'Indie Flower';

   font-family: 'Delicious Handrawn', cursive;
   font-weight: 400;
   font-style: normal;
   font-size: 5rem;
   /* text-transform: uppercase; */
   font-weight: 400;
   word-spacing: 30px;
   letter-spacing: -2px;
   padding: 1.4rem 0;
}

.add-form {
   background-color: #e5771f;
   padding: 1rem 0 0.6rem 0;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.8rem;
}

.warning {
   background-color: #e5771f;
   /* padding: 1.8rem 0 0.2rem 0; */
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.2rem;
   color: rgb(198, 0, 0);
   font-size: 1.8rem;
}

h3 {
   margin-right: 1.6rem;
   font-size: 2.4rem;
}

button,
select,
input {
   /* background-color: #ffebb3; */

   color: #5a3e2b;
   font-family: inherit;
   border: none;
   border: #5a3e2b;
   border-style: solid 2px;
   border-radius: 2rem;
   padding: 1.2rem 1.2rem;
   font-weight: 700;
   font-size: 1.78rem;
   cursor: pointer;
   border-style: dotted;
}

.add-form button {
   text-transform: uppercase;
   background-color: #76c7ad;
}

.list {
   background-color: #5a3e2b;
   color: #ffebb3;
   padding: 4rem 0;

   display: flex;
   justify-content: space-between;
   flex-direction: column;
   gap: 3.2rem;
   align-items: center;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.actions button,
.list select {
   text-transform: uppercase;
   padding: 0.8rem 2.4rem;
   font-size: 1.4rem;
   font-weight: 700;
   margin: 0 0.8rem;
}

.list ul {
   list-style: none;
   width: 80%;
   /* overflow: scroll; */

   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 1.2rem;
   justify-content: center;
   align-content: start;
}

.list li {
   display: flex;
   align-items: center;
   gap: 1.2rem;
}

input[type='checkbox'] {
   height: 2rem;
   width: 2rem;
   accent-color: #e5771f;
}

.list li button {
   cursor: pointer;
   background: none;
   border: none;
   font-size: 1.8rem;
   padding: 0.8rem;
   transform: translateY(2px);
}

.stats {
   background-color: #76c7ad;
   text-align: center;
   font-weight: 700;
   padding: 3.2rem 0;
}

.largeIcon {
   cursor: pointer;
   font-size: 2.5rem;
   padding: 0.5rem;
}

table {
   border-collapse: collapse;
   width: 70%;
   text-align: centre;
   border-radius: 50px;
}

th,
td {
   padding: 5px;
   text-align: centre;
   border: 1px solid lightgray;
}

th {
   background-color: black;
   text-align: centre;
   padding: 5px;
}

.container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.table-container {
   text-align: center;
}

.list2 {
   background-color: #5a3e2b;
   color: #ffebb3;
   padding: 4rem 0;

   display: flex;
   /* justify-content: space-between; */
   flex-direction: column;
   gap: 3.2rem;
   align-items: center;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
}

.centred {
   display: flex;
   justify-content: center;
   align-items: center;
}

.longString {
   /* width: 30%;
   /* overflow: break-word;
   white-space: nowrap;
   text-overflow: ellipsis; */
   /* word-break: break-all;
   word-break: break-word; */
   /* overflow-wrap: break-word;
   overflow-wrap: anywhere; */

   width: 50px; /* Set the desired width */
   word-wrap: break-word; /* Break the text at word boundaries */
   overflow-wrap: break-word; /* Alternative to word-wrap */
   hyphens: auto; /* Enable hyphenation for better line breaks */
   white-space: normal; /* Prevent text from collapsing into a single line */
}

.dropBox {
   cursor: pointer;
   font-size: 1.4rem;
   padding: 1.2rem 1.2rem;
   /* border: white 1px; */
   border-radius: 50px;
   color: white;

   border-radius: 1rem;

   font-weight: 700;

   border-style: dotted;
   /* */
   padding: 1.2rem 0.4rem 1.2rem 0.4rem;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 0.8rem;
}

.tooltip {
   visibility: hidden;
   position: absolute;
   z-index: 2;
   width: 100px;
   color: white;
   font-size: 12px;
   background-color: #192733;
   border-radius: 10px;
   padding: 10px 15px 10px 15px;
}
